body {
  background: #4cbff5;
  font: normal 15pt arial;
}
header {
  color: white;
  text-align: center;
}
section {
  width: 500px;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px #00000060;
  margin: auto;
}
div {
  text-align: center;
  padding: 10px 0;
}
footer {
  color: white;
  text-align: center;
}
